{% extends 'base.html' %}
{% block content %}
{#    <div class="col-md-12">#}
    <h2>Enter an ISIN:</h2>
    {% if sec_id_error == 1 %}
        <h2 id="error">{{ sec_id }} is not a valid ISIN. Enter a valid ISIN.</h2>
    {% endif %}
{#    <form class="form-horizontal" action="{% url 'results' %}" method="get">#}
{#        <div class="form-group">#}
{#            <label for="sec_id" class="col-sm-2 control-label">ISIN</label>#}
{#            <div class="col-sm-4">#}
{#                <input id="sec_id" name="sec_id" value="" class="form-control" placeholder="Input ISIN here">#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="form-group">#}
{#            <label for="num_of_days" class="col-sm-2 control-label">#days (graph)</label>#}
{#            <div class="col-sm-1">#}
{#                <input id="num_of_days" name="num_of_days" value="30" class="form-control">#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="cohort_filtering" class="col-sm-2 control-label">Cohort Filtering</label>#}
{#            <div class="col-sm-1">#}
{#                <select class="form-control" id="cohort_filtering" name="cohort_filtering">#}
{#                    <option>Yes</option>#}
{#                    <option>No</option>#}
{#                </select>#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <div class="col-sm-offset-2 col-sm-8">#}
{#                <button name="submit" type="submit" class="btn btn-default">Get Similar Bonds</button>#}
{#            </div>#}
{#        </div>#}
{#    </form>#}
{#    <div class="panel-group" id="accordion">#}
{#        <div class="panel panel-default">#}
{#            <div class="panel-heading">#}
{#                <h4 class="panel-title">#}
{#                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">#}
{#                        Collapsible Group Item #1#}
{#                    </a>#}
{#                </h4>#}
{#            </div>#}
{#            <div id="collapseOne" class="panel-collapse collapse in">#}
{#                <div class="panel-body">#}
{#                    Anim pariatur cliche reprehenderit#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <form class="form-horizontal" action="{% url 'results' %}" method="get">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Show detail setting
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="num_of_days" class="col-sm-2 control-label">#days (graph)</label>
                            <div class="col-sm-1">
                                <input id="num_of_days" name="num_of_days" value="30" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="num_of_recommendation" class="col-sm-2 control-label">#recommended bonds</label>
                            <div class="col-sm-1">
                                <input id="num_of_recommendation" name="num_of_recommendation" value="10" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ytm_lower" class="col-sm-2 control-label">y-to-m lower bound</label>
                            <div class="col-sm-1">
                                <input id="ytm_lower" name="ytm_lower" value="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ytm_upper" class="col-sm-2 control-label">y-to-m upper bound</label>
                            <div class="col-sm-1">
                                <input id="ytm_upper" name="ytm_upper" value="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="oad_lower" class="col-sm-2 control-label">OAD lower bound</label>
                            <div class="col-sm-1">
                                <input id="oad_lower" name="oad_lower" value="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="oad_upper" class="col-sm-2 control-label">OAD upper bound</label>
                            <div class="col-sm-1">
                                <input id="oad_upper" name="oad_upper" value="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cohort_filtering" class="col-sm-2 control-label">Cohort Filtering</label>
                            <div class="col-sm-1">
                                <select class="form-control" id="cohort_filtering" name="cohort_filtering">
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>
                        <!-- For proxy -->
                        <div class="form-group">
                            <label for="use_proxy" class="col-sm-2 control-label">Use Proxy</label>
                            <div class="col-sm-1">
                                <select class="form-control" id="use_proxy" name="use_proxy">
                                    <option>No</option>
                                    <option>Yes</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="usr_oas" class="col-sm-2 control-label">PROXY OAS</label>
                            <div class="col-sm-1">
                                <input id="usr_oas" name="usr_oas" value="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="usr_oad" class="col-sm-2 control-label">PROXY OAD</label>
                            <div class="col-sm-1">
                                <input id="usr_oad" name="usr_oad" value="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="usr_krd5" class="col-sm-2 control-label">PROXY KRD 5Y</label>
                            <div class="col-sm-1">
                                <input id="usr_krd5" name="usr_krd5" value="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="usr_krd10" class="col-sm-2 control-label">PROXY KRD 10Y</label>
                            <div class="col-sm-1">
                                <input id="usr_krd10" name="usr_krd10" value="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="usr_krd20" class="col-sm-2 control-label">PROXY KRD 20Y</label>
                            <div class="col-sm-1">
                                <input id="usr_krd20" name="usr_krd20" value="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="usr_krd30" class="col-sm-2 control-label">PROXY KRD 30Y</label>
                            <div class="col-sm-1">
                                <input id="usr_krd30" name="usr_krd30" value="" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="sec_id" class="col-sm-2 control-label">ISIN</label>
            <div class="col-sm-4">
                <input id="sec_id" name="sec_id" value="" class="form-control" placeholder="Input ISIN here">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <button name="submit" type="submit" class="btn btn-default">Get Similar Bonds</button>
            </div>
        </div>
    </form>
{#    </div>#}
{% endblock %}